## wap to store 10 movies entered by the user in a list

In [10]:
movies = []
for i in range(5):
    name = input('enter movie name =>')
    movies.append(name)

In [11]:
movies

['harry potter', 'avanger', 'bahubali', 'avanger 2', 'war']

## wap to store 100 even numbers in lists

In [17]:
numbers = list(range(2,201,2))
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [18]:
evens = list(range(2,201,2))
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

# wap to print all the odd numbers in the lists given below
- a = [12,3,54,32,6,7,8,879,34,23,2,4,31]

In [19]:
a = [12,3,54,32,6,7,8,879,34,23,2,4,31]
for i in a:
    if i % 2!=0:
        print(i)

3
7
879
23
31

# wap to store all the odd numbers into a new list from the list given below
a = 12,3,54,32,6,7,8,879,34,23,2,4,31

In [21]:
odds = []
for i in a:
    if i % 2!=0:
        odds.append(i)

In [22]:
odds

[3, 7, 879, 23, 31]

## frontend > streamlit
## backend > python & sqlite

# write a program to store 10 prime numbers in a list

In [3]:
# basic prime code
num = 91203
for i in range(2, num):
    if num % i == 0:
        print('not prime')
        break
else:
    print(f'{num} is prime')

not prime

In [4]:
num = 13
for i in range(2, num):
    if num % i == 0:
        print('not prime')
        break
else:
    print(f'{num} is prime')

13 is prime

In [5]:
primes = []                                 # blank list
num = 2                                     # start pos              
while len(primes) < 10:
    print(primes, len(primes),num)          # if list has less than 30 values 
    for i in range(2,num):                  # loop the will run from 2 to num-1 value 
        if num % i == 0:                    # if i divides the num completely
            break                           # skip that num
    else:                                   # if the loop does not back 
        primes.append(num)                  # add it to list
    num += 1                                # add 1 to change number to next

[] 0 2
[2] 1 3
[2, 3] 2 4
[2, 3] 2 5
[2, 3, 5] 3 6
[2, 3, 5] 3 7
[2, 3, 5, 7] 4 8
[2, 3, 5, 7] 4 9
[2, 3, 5, 7] 4 10
[2, 3, 5, 7] 4 11
[2, 3, 5, 7, 11] 5 12
[2, 3, 5, 7, 11] 5 13
[2, 3, 5, 7, 11, 13] 6 14
[2, 3, 5, 7, 11, 13] 6 15
[2, 3, 5, 7, 11, 13] 6 16
[2, 3, 5, 7, 11, 13] 6 17
[2, 3, 5, 7, 11, 13, 17] 7 18
[2, 3, 5, 7, 11, 13, 17] 7 19
[2, 3, 5, 7, 11, 13, 17, 19] 8 20
[2, 3, 5, 7, 11, 13, 17, 19] 8 21
[2, 3, 5, 7, 11, 13, 17, 19] 8 22
[2, 3, 5, 7, 11, 13, 17, 19] 8 23
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 24
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 25
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 26
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 27
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 28
[2, 3, 5, 7, 11, 13, 17, 19, 23] 9 29

In [6]:
primes

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
# filter and store

In [7]:
flowers = ['sunflower','rose','iris','chrysanthemum','lotus','lily','tulip','orchid','acacia']

In [9]:
for item in flowers:
    if 'o' in item:
        print(item)

sunflower
rose
lotus
orchid

In [10]:
for item in flowers:
    print(item)

sunflower
rose
iris
chrysanthemum
lotus
lily
tulip
orchid
acacia

In [12]:
flowers_o = []                                   # condition based list is reduction
for item in flowers:                             # without condition list is mapping 
    if 'o' in item:
        flowers_o.append(item)
flowers_o

['sunflower', 'rose', 'lotus', 'orchid']

In [13]:
flowers_e = [item for item in flowers  if 'e' in item]
flowers_e

['sunflower', 'rose', 'chrysanthemum']

In [14]:
x = [2,3,4,5,6,65]

In [15]:
x2 = []
for i in x:
    sqr = i**2
    x2.append(sqr)

In [16]:
x2

[4, 9, 16, 25, 36, 4225]

In [17]:
x3 = [i**3 for i in x]
x3

[8, 27, 64, 125, 216, 274625]