#  String property
- indexed, ordered
- immutable - dont change during code execution
- str() - convert data to string datatype
- can be wrapped in '',"",''',''',
- triple quoted string can also be used in documentation

In [6]:
flower = 'chrysanthemum'
name = 'vijay dinanath chauhan'
quote = '''life before death,
hope before despair,
journey before destination'''

In [7]:
print(flower)

chrysanthemum

In [14]:
print(quote)

life before death,
hope before despair,
journey before destination

# create,indexing,slicing,functions

In [9]:
flower[-1]

'm'

In [10]:
name[6]

'd'

In [11]:
name[-6]

'h'

In [15]:
quote[19]

'h'

In [16]:
quote[-18]

'b'

## slicing
- string[startidx:stopidx] => get substring from start till stop-1
- string[startidx:stopidx:gap] => get substring from start till stop-1,with gap
- string[:stopidx] => get substring beginning till stop-1
- string[startidx:] => get substring from start till length of string

In [19]:
flower[:5]

'chrys'

In [20]:
flower[-3:]

'mum'

In [21]:
flower[6:]

'nthemum'

In [22]:
flower[-4:]

'emum'

In [23]:
flower[:-4]

'chrysanth'

In [24]:
flower[5:6]

'a'

In [25]:
flower[5:7]

'an'

In [26]:
for i,v in enumerate(name):
    print(i,v)

0 v
1 i
2 j
3 a
4 y
5
6 d
7 i
8 n
9 a
10 n
11 a
12 t
13 h
14
15 c
16 h
17 a
18 u
19 h
20 a
21 n

In [27]:
flower[-6:-3]

'the'

In [28]:
name[0:22:5]

'v nca'

In [29]:
name[0:5]

'vijay'

In [30]:
name[6:15]

'dinanath '

In [31]:
name[15:21]

'chauha'

In [33]:
name[15:22]

'chauhan'

In [34]:
quote.find('journey')

40

In [35]:
quote[40:]

'journey before destination'

# functions in string

In [2]:
sentence = 'I went to Vijaywada to haVE a Holiday.'

In [3]:
sentence.upper()

'I WENT TO VIJAYWADA TO HAVE A HOLIDAY.'

In [4]:
senu = sentence.upper()

In [ ]:
sen1 = sentence.lower()

In [ ]:
senc = sentence.capitalize()
sent = sentence.title()

In [9]:
sentence.casefold()

'i went to vijaywada to have a holiday.'

In [10]:
sentence.swapcase()

'i WENT TO vIJAYWADA TO HAve A hOLIDAY.'

In [11]:
word = 'Solid'

In [12]:
word

'Solid'

In [13]:
word.rjust(50)

'                                             Solid'

In [15]:
word.ljust(50)

'Solid                                             '

In [17]:
word.center(24)

'         Solid          '